In [18]:
from pathlib import Path

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from IPython.display import display

In [6]:
dfs = []
for f in Path("result_pickles").iterdir():
    fn = str(f)
    if "_r10" in fn or "_r1." in fn:
        print(fn)
        df = pd.read_pickle(fn)
        exp_name = fn.split("/")[-1].split(".")[0]
        df["dataset_rem_name"] = exp_name
        dfs.append(df)
        
all_ = pd.concat(dfs)

result_pickles/traffic_75_all_r10.pkl
result_pickles/energy_r10.pkl
result_pickles/elec_75_all_r10.pkl
result_pickles/energy_yr_r1.pkl
result_pickles/bart_r10.pkl
result_pickles/bart_yr_r1.pkl
result_pickles/traffic_85_all_r10.pkl
result_pickles/elec_85_all_r10.pkl

In [27]:
model_rename = dict(
    zip(
        all_["model"].unique(),
        ["00 DCT", "01 DFT", "04 CP", "05 CP+S", "06 Tucker", "07 Tucker+S", "02 FB", "03 HW"]
    )
)

In [29]:
all_['model'] = all_['model'].replace(model_rename)

In [30]:
stat_cols = ["in_rmse", "in_mad", "out_rmse", "out_mad"]
all_by_pars = all_.groupby(
    ["dataset_rem_name", "model", "experiment_id", "parameters"]
)[stat_cols].mean()

In [31]:
res0 = all_by_pars.groupby(["dataset_rem_name", "model"])[stat_cols].min()

In [38]:
# res1 = res0[["out_rmse", "out_mad"]]
res1 = res0[["in_rmse", "in_mad"]]

In [39]:
for stat in res1.columns:
    piv = res1[[stat]].pivot_table(
        index="dataset_rem_name",
        columns="model"
    )
    display(piv)

                     in_rmse                                          \
model                 00 DCT    01 DFT     02 FB     03 HW     04 CP
dataset_rem_name
bart_r10            0.037881  0.032336  0.036921  0.018130  0.019364
bart_yr_r1          0.017367  0.016975  0.037177  0.016153  0.025436
elec_75_all_r10     0.046968  0.043589  0.061452  0.028415  0.033413
elec_85_all_r10     0.044563  0.041091  0.056994  0.026947  0.031634
energy_r10          0.044240  0.042141  0.058629  0.029985  0.019854
energy_yr_r1        0.009091  0.008886  0.061693  0.030665  0.044141
traffic_75_all_r10  0.043037  0.041533  0.049563  0.024532  0.028996
traffic_85_all_r10  0.037454  0.035665  0.044128  0.021265  0.024865


model                05 CP+S 06 Tucker 07 Tucker+S
dataset_rem_name
bart_r10            0.024548  0.030465    0.031449
bart_yr_r1          0.028065  0.029199    0.029962
elec_75_all_r10     0.040201  0.053419    0.054109
elec_85_all_r10     0.038046  0.050290    0.050886
energy_r10          0.034290  0.053341    0.053877
energy_yr_r1        0.048408  0.052864    0.052961
traffic_75_all_r10  0.034727  0.046728    0.047315
traffic_85_all_r10  0.030056  0.041958    0.042409

                      in_mad                                          \
model                 00 DCT    01 DFT     02 FB     03 HW     04 CP
dataset_rem_name
bart_r10            0.022083  0.017582  0.021107  0.008613  0.011737
bart_yr_r1          0.012211  0.011837  0.020985  0.007945  0.013833
elec_75_all_r10     0.033743  0.031278  0.044689  0.019044  0.023872
elec_85_all_r10     0.031727  0.029257  0.040987  0.018038  0.022614
energy_r10          0.033782  0.031981  0.043884  0.022047  0.014323
energy_yr_r1        0.005587  0.005401  0.046398  0.021519  0.032941
traffic_75_all_r10  0.026076  0.024622  0.027791  0.011546  0.016202
traffic_85_all_r10  0.023437  0.021877  0.026284  0.010298  0.014439


model                05 CP+S 06 Tucker 07 Tucker+S
dataset_rem_name
bart_r10            0.013436  0.017195    0.016659
bart_yr_r1          0.015333  0.015395    0.015941
elec_75_all_r10     0.028373  0.037717    0.037640
elec_85_all_r10     0.026840  0.035155    0.035101
energy_r10          0.025307  0.040286    0.040544
energy_yr_r1        0.036240  0.039333    0.039321
traffic_75_all_r10  0.018399  0.026358    0.025857
traffic_85_all_r10  0.016545  0.024970    0.024646

In [41]:
# print(
#     res1.pivot_table(
#         index="dataset_rem_name",
#         columns="model",
#     ).to_latex(
#         float_format="%.4f",
#     )
# )

## Plots